<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Фото</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
</head>
    <body>
        <header th:insert="blocks/header ::header"></header>
        <div class="container mt-3"></div>

        <div class="album py-5 bg-light">
            <div class="container">

                <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/giper_3.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">

                                        <h5>ГИПЕРКВЕСТ</h5>

                                    </div>
                                    <small class="text-muted">Спасительное нечто</small>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/giper_1.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>ГИПЕРКВЕСТ</h5>
                                </div>
                                <small class="text-muted">Сектор А</small>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/giper_2.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <h5>ГИПЕРКВЕСТ</h5>

                                </div>
                                <small class="text-muted">Индикатор жизни</small>

                            </div>
                        </div>
                    </div>




                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/prizraki_3.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">

                                    <h5>Призрак кошмарной хижины</h5>

                                </div>
                                <small class="text-muted">Спасительное нечто</small>

                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/prizraki_1.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Призрак кошмарной хижины</h5>
                                </div>
                                <small class="text-muted">Сектор А</small>

                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/prizraki_2.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Призрак кошмарной хижины</h5>
                                </div>
                                <small class="text-muted">Индикатор жизни</small>
                            </div>
                        </div>
                    </div>


                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/bunker_2.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Секретный бункер</h5>
                                </div>
                                <small class="text-muted">Индикатор жизни</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/bunker_3.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Секретный бункер</h5>
                                </div>
                                <small class="text-muted">Индикатор жизни</small>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card shadow-sm">
                            <img th:src="@{/images/bunker_1.jpg}"  alt="iiiii">
                            <div class="card-body">
                                <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer.</p>
                                <div class="d-flex justify-content-between align-items-center">
                                    <h5>Секретный бункер</h5>
                                </div>
                                <small class="text-muted">Индикатор жизни</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            <footer th:insert="blocks/footer ::footer"></footer>
        </body>
    </html>